body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

.navbar, footer {
	background-color: #383838;
}

.navbar a.navbar-brand,.navbar .nav li a{
	color: white;
	text-shadow: 2px 2px red;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

#myCarousel{
	margin-bottom: 50px;
}

#myCarousel .item img {
	height: 100%;
	margin: 70px auto 0;
}

.carousel-caption {
	background-color: #f6ebc1;
	opacity:0.5;
	font-size: 40px;
	line-height: 30px;
	font-style: italic;
	color: #0e0e0e;
	margin-bottom: 20px;
	!padding: 10px;
}

.panel {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: center;
}

.panel img{
	width: 100%;
}

.panel-title {
	text-align: center;
}

h3{
	font-weight: bold;
}

hr{
	margin-top: 0px;
}

.subtitle{
	display: block;
	color: #444;
	font-weight: 300;
	text-transform: none;
	margin-top: 5px;
}

footer p{
	color: white;
	margin-top: 10px;
}

ul {
	list-style: none;
	padding: 0;
}

li{
	display: inline;
}

#buzz {
	min-height:500px;
}

.embed {
	height: 600px;
}

.well {
	margin-top: 10px;
	text-align: center;
}

.well p {
	margin: 0 0 3px 0;
	color: blue;
}

.well p span {
	color: orange;
}

.btn {
	margin-bottom: 5px;
}


#social ul {
	float: right;
}

#social img {
	width: 40px;
}

#social img:hover {
	width: 50px;
}

textarea {
	margin-bottom: 20px;
}


/* Portrait & landscape phone */
@media (max-width: 480px) {
	
	#social, #credit {
		text-align: center;
	}
	
	#social ul {
		float: none;
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	
	#myCarousel .item { 
		height: 310px; 
	}
	
	.carousel-caption {
		font-size: 16px;
	}
	
	.panel img{
		width: 60%;
	}
	
}

/* Large desktop */
@media (min-width: 1200px) {

	#myCarousel .item { 
		height: 500px; 
	}
	
}

